<header>
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navbar">
    <img src="../img/avatar.png" alt="avatar" style="height: 40px; width: auto; border-radius: 50%;">
    <div class="flex-grow-1"></div>
    <!-- Toggler Nav Items-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://www.sheldonl.com/">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.sheldonl.com/about/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/sheldon-l/"><i class="fab fa-github 3x"></i> Repos</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://meatatlas.github.io/">Meat Atlas</a></li>
            <li><a class="dropdown-item" href="https://startbranding.github.io">Start Branding</a></li>
          </ul>
        </li>
        <!-- Tipue Search Page Link -->
        <button type="button" class="btn btn-outline-secondary" >
          <a href="{{ '/search/' | relative_url}}" style="color: inherit;">
            <i class="fas fa-search"></i> Search within <b>Blog</b>...
          </a>
        </button>
      </ul>
    </div>
  </nav>
</header>
